<div class="jumbotron">
    <h1>Тестовый проект на соискание должности .Net Программист</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>METANIT</h2>
        <p><a class="btn btn-default" href="https://metanit.com/sharp/mvc.php">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PROFESSORWEB</h2>
        <p><a class="btn btn-default" href="https://professorweb.ru/my/ASP_NET/base/level1/aspnet_info.php">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET MVC 4</h2>
        <p><a class="btn btn-default" href="http://smarly.net/pro-asp-net-mvc-4">Learn more &raquo;</a></p>
    </div>
</div>
